<% title "Forgot your password?" %>
<div class = "devise_form_bg">
<div class="border-form-div devise_module">
  <div class = "password_heading">Forgot Password?</div>
<div class="border-form-div">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, :autofocus => true, :placeholder => 'Email Address' %></div>
  <div class ="centered"><%= f.submit "Send Reset Email", :class=>'btn btn-warning btn-large' %></div>
<% end %>
<div class ="centered"> <%= render "devise/shared/links" %></div>
</div>
</div>